---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";


export interface Props {
  title: string;
  text: string;
  boldText: string;
  mobileImage: string | ImageMetadata;
  desktopImage: string | ImageMetadata;
  altText: string;
  titleColor?: string;
  textColor?: string;
  bgColor?: string;
  isReversed?: boolean;
  plantSrc?: string;
}

const {
  title,
  text,
  boldText,
  mobileImage,
  desktopImage,
  altText,
  titleColor = "text-secondary",
  textColor = "text-white",
  bgColor = "bg-primary",
  isReversed = false,
  plantSrc,
} = Astro.props;

const MobileImage = await getImage({
  src: mobileImage,
  width: 400,
  height: 200,
});

const DesktopImg = await getImage({
  src: desktopImage,
  width: 400,
  height: 400,
});

---

<section
  class={`px-5 py-10 ${bgColor} flex-col justify-start items-center gap-8 inline-flex
    xlg:px-[80px] xlg:flex-row ${isReversed ? "xlg:flex-row-reverse xlg:justify-end" : ""}
    xxl:px-[140px] xxl:flex-row ${isReversed ? "xxl:flex-row-reverse xxl:justify-end" : ""}
    ${bgColor === "bg-white" && !isReversed ? "flex-col-reverse" : ""} relative overflow-hidden`}
>
  <div class="flex justify-center items-center">
    <picture>
      <source media="(max-width: 500px)" srcset={MobileImage.src} />
      <source media="(min-width: 501px)" srcset={DesktopImg.src} />
      <img src={DesktopImg.src} alt={altText} />
    </picture>
  </div>

  <div
    class="grow shrink basis-0 flex-col justify-center items-start gap-8 xlg:gap-6 xxl:gap-8 inline-flex"
  >
    <h2
      class={`text-center self-stretch ${titleColor} text-2xl font-extrabold font-['Manrope'] uppercase tracking-[4.08px] xlg:text-xl xlg:tracking-[3px] xlg:text-start xxl:text-2xl xxl:tracking-[4.08px] xxl:text-start`}
    >
      {title}
    </h2>
    <p class="self-stretch text-center xlg:text-start xxl:text-start">
      <span
        class={`text-base font-medium font-['Manrope'] leading-10 xlg:leading-8 xlg:text-sm xxl:leading-10 xxl:text-base ${textColor}`}
      >
        {text}
      </span>
      <span
        class={`text-base font-bold font-['Manrope'] leading-10 xlg:leading-8 xlg:text-sm xxl:leading-10 xxl:text-base ${textColor}`}
      >
        {boldText}
      </span>
    </p>
  </div>

  {
    plantSrc && (
      <img
        src={plantSrc}
        alt="Vector decorativo"
        class="absolute w-[498px] -left-[249px] -z- top-[80px]"
      />
    )
  }
</section>
