---
import MenuIconClose from "../assets/Icons/MenuIconClose.astro";
import MenuIconOpen from "../assets/Icons/MenuIconOpen.astro";
import Logo from "../assets/logo-verbena-white.png";

const navLinks = [
  { href: "#about", text: "Nosotros" },
  { href: "#services", text: "Servicios" },
  { href: "#imprint", text: "Impronta" },
  { href: "#contact", text: "Contacto" },
];
---

<nav
  class="hidden md:flex fixed z-50 top-7 left-1/2 transform -translate-x-1/2 gap-12
  origin-top-left bg-gradient-to-r from-white to-[#edf0d9] backdrop-blur-md shadow-lg
  rounded-[40px] w-[calc(100%-200px)] xlg:w-[calc(100%-580px)] h-16 items-center px-[30px] py-[10px] justify-between
  mt-[40px] xlg:mx-0"
>
  <div>
    <a href="/">
      <img
  src={Logo.src}
  alt="logo"
  class="w-auto h-[60px] md:h-[60px] lg:h-[60px]"
       />
    </a>
  </div>

  <div class="hidden md:flex gap-6 text-secondary">
    {
      navLinks.map((link) => (
        <a
          href={link.href}
          class="relative px-3 py-2 text-purple after:content-[''] after:block after:h-[2px] after:w-0 after:bg-secondary after:transition-all hover:after:w-full"
        >
          {link.text}
        </a>
      ))
    }
  </div>
</nav>

<!-- menu amburguesa -->

<button
  id="menu-toggle"
  class="fixed top-4 left-4 font-bold py-2 px-4 block md:hidden"
>
  <MenuIconOpen />
</button>

<div
  id="mobile-menu"
  class="hidden fixed inset-0 z-40 sm:hidden flex-col items-center justify-center bg-gradient-to-r from-white to-[#edf0d9]"
>
  <button
    id="close-menu"
    class="absolute top-4 right-4 text-secondary font-bold py-2 px-4 "
  >
    <MenuIconClose />
  </button>

  <ul class="flex flex-col gap-8 text-secondary text-2xl font-bold">
    {
      navLinks.map((link) => (
        <li>
          <a href={link.href}>
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
  <img
    src={Logo.src}
    alt="Logo"
    class="mt-12 w-[150px] h-auto"
  />
</div>

<script>
  const toggleButton = document.querySelector("#menu-toggle");
  const mobileMenu = document.querySelector("#mobile-menu");
  const closeMenuButton = document.querySelector("#close-menu");
  const menuLinks = document.querySelectorAll("#mobile-menu a");

  if (toggleButton && mobileMenu) {
    toggleButton.addEventListener("click", () => {
      mobileMenu.classList.remove("hidden");
      mobileMenu.classList.add("flex");
    });
  }

  if (closeMenuButton && mobileMenu) {
    closeMenuButton.addEventListener("click", () => {
      mobileMenu.classList.add("hidden");
      mobileMenu.classList.remove("flex");
    });
  }

  if (menuLinks.length > 0 && mobileMenu) {
    menuLinks.forEach((link) => {
      link.addEventListener("click", () => {
        mobileMenu.classList.add("hidden");
        mobileMenu.classList.remove("flex");
      });
    });
  }
</script>