---
export interface Props {
  title: string;
  text: string;
  titleStyles?: string;
  textStyles?: string;
  titleSize?: string;
  textSize?: string;
}

const {
  title,
  text,
  titleStyles = "",
  textStyles = "",
  titleSize = "text-2xl",
  textSize = "text-[17px]",
} = Astro.props;
---

<div class="flex flex-col xxl:gap-[30px] xlg:gap-[20px]">
  <h3
    class={`self-stretch font-extrabold font-['Manrope'] uppercase tracking-[4.08px] ${titleSize} ${titleStyles}`}
  >
    {title}
  </h3>
  <p
    class={`self-stretch font-medium font-['Manrope'] leading-10 ${textSize} ${textStyles}`}
  >
    {text}
  </p>
</div>
